:root ::-webkit-scrollbar{
    display: none;
}

body{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-width: 100%;
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding: 0;
    margin: 0;
    background: #b43a98;
    background: radial-gradient(circle, rgba(180, 58, 152, 1) 0%, rgba(253, 29, 208, 1) 50%, rgba(252, 69, 139, 1) 100%);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}