        :root::-webkit-scrollbar{
            display: none;
        }

        body{
            width: 100%;
            min-height: 100vh;
            box-sizing: border-box;
            height: 100vh;
            margin: 0;
            padding: 20px;
            background-color: #f4f4f4;
            display: flex;
            justify-content: space-between;
        }

        #navbar{
            max-height: 100vh;
            box-sizing: border-box;
        }

        .outermost-container{
            max-height: 100vh;
            flex: 1;
            box-sizing: border-box;
        }

        #outermost-right{
            display: flex;
            flex-direction: column;
            justify-content: baseline;
            align-items: center;
        }

        #navbar-body button{
            height: 3rem;
        }

        #table{
            flex: 1;
        }

        #add-form{
            display: flex;
        }


