        :root::-webkit-scrollbar{
            display: none;
        }

        body{
            width: 100%;
            min-height: 100vh;
            height: 100vh;
            margin: 0;
            padding: 0;
            background: #434f78;
            background: radial-gradient(circle, rgba(67, 79, 120, 1) 0%, rgba(63, 71, 107, 1) 16%, rgba(0, 0, 0, 1) 100%);
            display: flex;
            box-sizing: border-box;
            gap: 20px;
            justify-content: space-between;
        }

        .outermost-container{
            width: 50%;
            height: 100vh;
            box-sizing: border-box;
        }

        .outermost-left{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .outermost-right{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #outermost-left form #header{
            line-height: 0.3;
        }

